package-lock=false
@nandosuk:registry=https://europe-west2-npm.pkg.dev/mgt-build-56d2ff6b/nandos-central-npm/
//europe-west2-npm.pkg.dev/mgt-build-56d2ff6b/nandos-central-npm/:_password=""
//europe-west2-npm.pkg.dev/mgt-build-56d2ff6b/nandos-central-npm/:username=oauth2accesstoken
//europe-west2-npm.pkg.dev/mgt-build-56d2ff6b/nandos-central-npm/:email=not.valid@email.com
//europe-west2-npm.pkg.dev/mgt-build-56d2ff6b/nandos-central-npm/:always-auth=true